body {
  margin: 0;
  font-family: 'helvetica', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: white;
}

body * {
  box-sizing: border-box;
}

h1 {
  font-weight: 300;
  font-size: 32px;
}
h2 {
  font-weight: 300;
  font-size: 28px;
}
h3 {
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
}
h4 {
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
}

p {
  font-weight: 400;
  font-size: 16px;
}
a {}
a:hover, a:visited {}